TestMVCEntity/Q1_Login_WCF/Q3_ShowBalance/Service References/ServiceReference1/ShowBalance.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShowBalance" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1234/Temporary_Listen_Addresses?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1234/Temporary_Listen_Addresses?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Interface1_Check_Balance_InputMessage">
    <wsdl:part name="parameters" element="tns:Check_Balance" />
  </wsdl:message>
  <wsdl:message name="Interface1_Check_Balance_OutputMessage">
    <wsdl:part name="parameters" element="tns:Check_BalanceResponse" />
  </wsdl:message>
  <wsdl:message name="Interface1_Check_Validity_InputMessage">
    <wsdl:part name="parameters" element="tns:Check_Validity" />
  </wsdl:message>
  <wsdl:message name="Interface1_Check_Validity_OutputMessage">
    <wsdl:part name="parameters" element="tns:Check_ValidityResponse" />
  </wsdl:message>
  <wsdl:portType name="Interface1">
    <wsdl:operation name="Check_Balance">
      <wsdl:input wsaw:Action="http://tempuri.org/Interface1/Check_Balance" message="tns:Interface1_Check_Balance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Interface1/Check_BalanceResponse" message="tns:Interface1_Check_Balance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Check_Validity">
      <wsdl:input wsaw:Action="http://tempuri.org/Interface1/Check_Validity" message="tns:Interface1_Check_Validity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Interface1/Check_ValidityResponse" message="tns:Interface1_Check_Validity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Interface1" type="tns:Interface1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Check_Balance">
      <soap:operation soapAction="http://tempuri.org/Interface1/Check_Balance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check_Validity">
      <soap:operation soapAction="http://tempuri.org/Interface1/Check_Validity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShowBalance">
    <wsdl:port name="BasicHttpBinding_Interface1" binding="tns:BasicHttpBinding_Interface1">
      <soap:address location="http://localhost:1234/Temporary_Listen_Addresses/MyService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>