TestMVCEntity/Q1_Login_WCF/Q3_ShowBalance/Service References/ServiceReference1/Temporary_Listen_Addresses1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Check_Balance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobileNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_BalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Check_BalanceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_Validity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobileNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_ValidityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Check_ValidityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>