TestMVCEntity/WCFsir/Code-Snippets/Day3/RestaurantClient/App_WebReferences/ServiceReference1/RestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RestService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WS2007HttpBinding_IUserService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SymmetricBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:ProtectionToken>
              <wsp:Policy>
                <sp:SecureConversationToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                  <wsp:Policy>
                    <sp:RequireDerivedKeys />
                    <sp:BootstrapPolicy>
                      <wsp:Policy>
                        <sp:SignedParts>
                          <sp:Body />
                          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                        </sp:SignedParts>
                        <sp:EncryptedParts>
                          <sp:Body />
                        </sp:EncryptedParts>
                        <sp:SymmetricBinding>
                          <wsp:Policy>
                            <sp:ProtectionToken>
                              <wsp:Policy>
                                <sp:SpnegoContextToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                                  <wsp:Policy>
                                    <sp:RequireDerivedKeys />
                                    <sp:MustNotSendCancel />
                                    <sp:MustNotSendAmend />
                                    <sp:MustNotSendRenew />
                                  </wsp:Policy>
                                </sp:SpnegoContextToken>
                              </wsp:Policy>
                            </sp:ProtectionToken>
                            <sp:AlgorithmSuite>
                              <wsp:Policy>
                                <sp:Basic256 />
                              </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                              <wsp:Policy>
                                <sp:Strict />
                              </wsp:Policy>
                            </sp:Layout>
                            <sp:IncludeTimestamp />
                            <sp:EncryptSignature />
                            <sp:OnlySignEntireHeadersAndBody />
                          </wsp:Policy>
                        </sp:SymmetricBinding>
                        <sp:Wss11>
                          <wsp:Policy />
                        </sp:Wss11>
                        <sp:Trust13>
                          <wsp:Policy>
                            <sp:MustSupportIssuedTokens />
                            <sp:RequireClientEntropy />
                            <sp:RequireServerEntropy />
                          </wsp:Policy>
                        </sp:Trust13>
                      </wsp:Policy>
                    </sp:BootstrapPolicy>
                    <sp:MustNotSendAmend />
                  </wsp:Policy>
                </sp:SecureConversationToken>
              </wsp:Policy>
            </sp:ProtectionToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
            <sp:EncryptSignature />
            <sp:OnlySignEntireHeadersAndBody />
          </wsp:Policy>
        </sp:SymmetricBinding>
        <sp:Wss11 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust13 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust13>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WS2007HttpBinding_IUserService_GetAllRest_Input_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SignedParts xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <sp:Body />
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
        </sp:SignedParts>
        <sp:EncryptedParts xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <sp:Body />
        </sp:EncryptedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WS2007HttpBinding_IUserService_GetAllRest_output_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SignedParts xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <sp:Body />
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
        </sp:SignedParts>
        <sp:EncryptedParts xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <sp:Body />
        </sp:EncryptedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50922/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50922/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50922/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RestaurantService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_GetAllRest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRest" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllRest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRestResponse" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_GetAllRestaurnat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRestaurnat" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_GetAllRestaurnat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRestaurnatResponse" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_GetRestaurnat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRestaurnat" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_GetRestaurnat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRestaurnatResponse" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_GetRestaurnat_MyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/RestaurantService" name="detail" element="q1:MyException" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_AddRestaurant_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRestaurant" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_AddRestaurant_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_RemoveRestaurant_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRestaurant" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_RemoveRestaurant_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_EditRestaurant_InputMessage">
    <wsdl:part name="parameters" element="tns:EditRestaurant" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_EditRestaurant_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditRestaurantResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="GetAllRest">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAllRest" message="tns:IUserService_GetAllRest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAllRestResponse" message="tns:IUserService_GetAllRest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IRestaurantService">
    <wsdl:operation name="GetAllRestaurnat">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestaurantService/GetAllRestaurnat" message="tns:IRestaurantService_GetAllRestaurnat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestaurantService/GetAllRestaurnatResponse" message="tns:IRestaurantService_GetAllRestaurnat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRestaurnat">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestaurantService/GetRestaurnat" message="tns:IRestaurantService_GetRestaurnat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestaurantService/GetRestaurnatResponse" message="tns:IRestaurantService_GetRestaurnat_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IRestaurantService/GetRestaurnatMyExceptionFault" name="MyExceptionFault" message="tns:IRestaurantService_GetRestaurnat_MyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRestaurant">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestaurantService/AddRestaurant" message="tns:IRestaurantService_AddRestaurant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestaurantService/AddRestaurantResponse" message="tns:IRestaurantService_AddRestaurant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveRestaurant">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestaurantService/RemoveRestaurant" message="tns:IRestaurantService_RemoveRestaurant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestaurantService/RemoveRestaurantResponse" message="tns:IRestaurantService_RemoveRestaurant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditRestaurant">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestaurantService/EditRestaurant" message="tns:IRestaurantService_EditRestaurant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestaurantService/EditRestaurantResponse" message="tns:IRestaurantService_EditRestaurant_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS2007HttpBinding_IUserService" type="tns:IUserService">
    <wsp:PolicyReference URI="#WS2007HttpBinding_IUserService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllRest">
      <soap12:operation soapAction="http://tempuri.org/IUserService/GetAllRest" style="document" />
      <wsdl:input>
        <wsp:PolicyReference URI="#WS2007HttpBinding_IUserService_GetAllRest_Input_policy" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsp:PolicyReference URI="#WS2007HttpBinding_IUserService_GetAllRest_output_policy" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IRestaurantService" type="tns:IRestaurantService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllRestaurnat">
      <soap:operation soapAction="http://tempuri.org/IRestaurantService/GetAllRestaurnat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRestaurnat">
      <soap:operation soapAction="http://tempuri.org/IRestaurantService/GetRestaurnat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MyExceptionFault">
        <soap:fault use="literal" name="MyExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddRestaurant">
      <soap:operation soapAction="http://tempuri.org/IRestaurantService/AddRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveRestaurant">
      <soap:operation soapAction="http://tempuri.org/IRestaurantService/RemoveRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditRestaurant">
      <soap:operation soapAction="http://tempuri.org/IRestaurantService/EditRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RestService">
    <wsdl:port name="WS2007HttpBinding_IUserService" binding="tns:WS2007HttpBinding_IUserService">
      <soap12:address location="http://localhost:50922/Service1.svc/ws" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:50922/Service1.svc/ws</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>Ankur.Pathak@igglobal.com</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IRestaurantService" binding="tns:BasicHttpBinding_IRestaurantService">
      <soap:address location="http://localhost:50922/Service1.svc/basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>