TestMVCEntity/WCFsir/Code-Snippets/Day3/RestaurantClient/App_WebReferences/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RestaurantService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RestaurantService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRestaurant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Restaurant" nillable="true" type="tns:Restaurant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRestaurant" nillable="true" type="tns:ArrayOfRestaurant" />
  <xs:complexType name="Restaurant">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MobileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Restaurant" nillable="true" type="tns:Restaurant" />
  <xs:complexType name="MyException">
    <xs:sequence>
      <xs:element minOccurs="0" name="LineNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Msg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyException" nillable="true" type="tns:MyException" />
</xs:schema>