TestMVCEntity/IRCTC_Client/IRCTC_Client_Q4/Service References/ServiceReference1/ReservationClass.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReservationClass" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50623/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50623/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50623/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Q4_IRCTC_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReservation_AllTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:AllTicket" />
  </wsdl:message>
  <wsdl:message name="IReservation_AllTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IReservation_BookTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:BookTicket" />
  </wsdl:message>
  <wsdl:message name="IReservation_BookTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IReservation_CheckStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckStatus" />
  </wsdl:message>
  <wsdl:message name="IReservation_CheckStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IReservation_CancelTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelTicket" />
  </wsdl:message>
  <wsdl:message name="IReservation_CancelTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="IReservation">
    <wsdl:operation name="AllTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservation/AllTicket" message="tns:IReservation_AllTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservation/AllTicketResponse" message="tns:IReservation_AllTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservation/BookTicket" message="tns:IReservation_BookTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservation/BookTicketResponse" message="tns:IReservation_BookTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservation/CheckStatus" message="tns:IReservation_CheckStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservation/CheckStatusResponse" message="tns:IReservation_CheckStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservation/CancelTicket" message="tns:IReservation_CancelTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservation/CancelTicketResponse" message="tns:IReservation_CancelTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReservation" type="tns:IReservation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AllTicket">
      <soap:operation soapAction="http://tempuri.org/IReservation/AllTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookTicket">
      <soap:operation soapAction="http://tempuri.org/IReservation/BookTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckStatus">
      <soap:operation soapAction="http://tempuri.org/IReservation/CheckStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelTicket">
      <soap:operation soapAction="http://tempuri.org/IReservation/CancelTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReservationClass">
    <wsdl:port name="BasicHttpBinding_IReservation" binding="tns:BasicHttpBinding_IReservation">
      <soap:address location="http://localhost:50623/Service1.svc/basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>