WCF/2160165_day3/NewsClient/App_WebReferences/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51542/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NewsService" />
  <xs:element name="GetNews">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NewsService" minOccurs="0" name="GetNewsResult" nillable="true" type="q1:ArrayOfNews" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NewsService" minOccurs="0" name="newNews" nillable="true" type="q2:News" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>