WCF/RestaurantClient/App_WebReferences/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50870/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RestaurantService" />
  <xs:element name="GetAllRestaurant">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRestaurantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RestaurantService" minOccurs="0" name="GetAllRestaurantResult" nillable="true" type="q1:ArrayOfRestaurant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RestaurantService" minOccurs="0" name="GetRestaurantResult" nillable="true" type="q2:Restaurant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RestaurantService" minOccurs="0" name="newRestaurant" nillable="true" type="q3:Restaurant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRestaurantResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRestaurantResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RestaurantService" minOccurs="0" name="newRest" nillable="true" type="q4:Restaurant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRestaurantResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllForUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RestaurantService" minOccurs="0" name="AllForUserResult" nillable="true" type="q5:ArrayOfRestaurant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>